<div class="iran-vehicle-plate">
    <div class="blue-column">
        <div class="flag">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="text">
            <div>I.R.</div>
            <div>IRAN</div>
        </div>
    </div>

    <span class="left-data">
      ۲۶
    </span>
    <span class="alphabet-column alphabet-data">
      ی
    </span>
    <span class="right-data">
      ۸۳۷
    </span>
    <div class="iran-column">
        <span>ایــران</span>
        <strong class="code-data">۲۰</strong>
    </div>
</div>