<div class="iran-license-plate">
    <div class="blue-column">
        <div class="flag">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="text">
            <div>I.R.</div>
            <div>IRAN</div>
        </div>
    </div>

    <span>
      ۲۶
    </span>
    <span class="alphabet-column">
      ی
    </span>
    <span>
      ۸۳۷
    </span>
    <div class="iran-column">
        <span>ایــران</span>
        <strong>۲۰</strong>
    </div>
</div>